<main>
    <header class="header">
        <h1>Frontend<br>
            Developer</h1>

        <div class="name-container">
            <div class="border"></div>
            <p>Gerald Pesendorfer</p>
        </div>
    </header>

    <div class="basic-information">
        <p class="email" (click)="scrollToArea('contactSection')">pesendorfer.gerald@hotmail.com</p>

        <div class="info-right" (click)="scrollToArea('aboutMe')">
            <div class="animation-container">
                <img src=".\assets\img\arrow.png">
            </div>
            <p>Scroll<br>
                Down</p>
        </div>
    </div>
</main>