.arrow-container {
    width: 90%;
    height: 282px;
    display: flex;
    justify-content: flex-start;
    max-width: 1140px;

    .arrow {
        position: relative;
        width: 215px;
        height: 215px;

        .line {
            background-color: black;
            position: absolute;
        }

        .line:nth-child(1) {
            width: 215px;
            height: 4px;
            top: 107.50px;
            left: 0px;
            transform: rotate(45deg);
        }

        .line:nth-child(2) {
            width: 80px;
            height: 4px;
            bottom: 65px;
            right: -9px;
            transform: rotate(90deg);
        }

        .line:nth-child(3) {
            width: 80px;
            height: 4px;
            bottom: 27px;
            right: 29px;
        }

        .arrow-animation {
            animation: arrowAnimation 0.5s ease-in-out forwards;
        }

        @keyframes arrowAnimation {
            0% {
                width: 215px;
            }

            50% {
                width: 310px;
                top: 140.50px;
                left: -14px;
            }

            100% {
                width: 215px;
                top: 175.50px;
                left: 68.5px;
            }
        }
    }

    .arrowAnimation-Container {
        animation: arrowAnimationContainer 0.5s ease-in-out forwards;
    }

    @keyframes arrowAnimationContainer {
        0% {
            width: 215px;
            height: 215px;
        }

        50% {
            width: calc(215px + 67px);
            height: calc(215px + 67px);
            padding-top: 0px;
            padding-right: 0px;
        }

        100% {
            width: 215px;
            height: 215px;
            padding-top: 67px;
            padding-right: 67px;
        }
    }

}