.arrow-container {
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: flex-end;

    .arrow {
        position: relative;
        width: 215px;
        height: 215px;

        .line {
            background-color: black;
            position: absolute;
        }

        .line:nth-child(1) {
            width: 215px;
            height: 4px;
            top: 107.50px;
            right: 0px;
            transform: rotate(-45deg);
        }

        .line:nth-child(2) {
            width: 80px;
            height: 4px;
            bottom: 39px;
            left: 0px;
            transform: rotate(-90deg);
        }

        .line:nth-child(3) {
            width: 80px;
            height: 4px;
            bottom: 0px;
            left: 39px;
        }

        .arrow-animation {
            animation: arrowAnimation 1s ease-in-out infinite; // forwards;
        }

        @keyframes arrowAnimation {
            0% {
                width: 215px;
            }

            50% {
                width: 310px;
                top: 140.50px;
                right: -14px;
            }

            100% {
                width: 215px;
            }
        }
    }

    .arrowAnimation-Container {
        animation: arrowAnimationContainer 2s ease-in-out infinite;
    }

    @keyframes arrowAnimationContainer {
        0% {
            width: 215px;
            height: 215px;
        }

        50% {
            width: calc(215px + 487.5px);
            height: calc(215px + 487.5px);
        }

        100% {
            width: 215px;
            height: 215px;
        }
    }

}