<div class="nav-container">
    <div class="top-bar">
        <img src="./assets/img/logo.png">
        <button [disabled]="buttonDisabled" (click)="navMenu()">
            <img src="./assets/img/Property{{ burgerIndex }}.png">
        </button>
    </div>
</div>

<div [class.hide-menu]="menu" class="menu-container">
    <nav>
        <div class="border">
            <a href="#">About me</a>
        </div>
        <div class="border">
            <a href="#">My skills</a>
        </div>
        <div class="border">
            <a href="#">Portfolio</a>
        </div>
    </nav>
    <div class="menu-footer">
        <div class="menu-footer-content">
            <div>
                <p>Say Hi!</p>
                <a href="mailto:pesendorfer.gerald@hotmail.com">pesendorfer.gerald@hotmail.com</a>
            </div>
            <div class="footer-links">
                <img src="./assets/img/github.png">
                <img src="./assets/img/email.png">
                <img src="./assets/img/linkedin.png">
            </div>
        </div>
    </div>
</div>