<div class="contact-container">
    <div class="menu-footer-content">
        <div class="greet">
            <p>Say Hi!</p>
        </div>
    </div>
    <div class="footer">
        <div class="footer-links">
            <a href="#">
                <img src="./assets/img/github.png">
            </a>
            <a href="#">
                <img src="./assets/img/email.png">
            </a>
            <a href="#">
                <img src="./assets/img/linkedin.png">
            </a>
        </div>
    </div>
</div>