<div class="contact-container">
    <div class="menu-footer-content">
        <div class="greet">
            <p>Say Hi!</p>
        </div>
    </div>
    <div class="contact-main-container">
        <div class="contact-form">
            <h3>Want to discuss a new project?</h3>
            <p>Say hello! let's discuss your ideas and make it happen</p>
            <div class="input-container">
                <div class="befor-container" [ngClass]="{'input-focus input-name': nameFocus}">
                    <input class="name" type="text" placeholder="Your name" (focus)='nameFocus = true' (focusout)='nameFocus = false'>
                </div>
                <div class="befor-container" [ngClass]="{'input-focus input-email': emailFocus}">
                    <input class="email" type="email" placeholder="Your email" (focus)='emailFocus = true' (focusout)='emailFocus = false'>
                </div>
                <div class="befor-container" [ngClass]="{'input-focus input-message': messageFocus}">
                    <textarea class="area" type="text" placeholder="Your message" (focus)='messageFocus = true' (focusout)='messageFocus = false'>
                    </textarea>
                </div>
                <div class="privacy-policy-box">
                    <div class="agree-hover" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
                        <label class="agree-box">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <p>I've read the</p>
                    <div class="privacy-policy-link"><a [ngClass]="{'hovered': isHovered}" href="#">privacy policy</a>
                    </div>
                    <p> and agree to the processing of my data as outlined.</p>
                </div>
                <button>Send Message</button>
            </div>
        </div>
        <div class="footer">
            <div class="footer-links">
                <a href="#">
                    <img src="./assets/img/github.png">
                </a>
                <a href="#">
                    <img src="./assets/img/email.png">
                </a>
                <a href="#">
                    <img src="./assets/img/linkedin.png">
                </a>
            </div>
        </div>
    </div>
</div>